name: Windows Build

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v2
        with:
          platform: x64

      - name: Build Vyom (with icon)
        run: |
          windres src/vyom.rc -O coff -o vyom.res
          gcc src/vy.c vyom.res -o vyom.exe

      - name: Upload Windows binary
        uses: actions/upload-artifact@v4
        with:
          name: vyom-windows
          path: vyom.exe