name: Windows Build

on:
  push:
    tags:
      - "v*"

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup MinGW
        uses: egor-tensin/setup-mingw@v2

      - name: Build Vyom
        run: |
          gcc src/vy.c -o vyom.exe

      - name: Prepare release folder
        run: |
          mkdir dist
          move vyom.exe dist/
          xcopy examples dist\\examples /E /I
          xcopy windows dist\\windows /E /I

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Vyom-Windows
          path: dist